*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App{
  padding-block: 10px;
  width: 100%;
  height: 100%;
  background-image: url("../public/assets/home/background-home-desktop.jpg");
}
.page-not-found{
  color: #fff;
}